.selfPortrait {
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 50px;
    justify-content: center;
}