/**
 * I Marita Aziga, 000368577 certify that this material is my original work. 
 * No other person's work has been used without due acknowledgement. 
 * I have not made my work available to anyone else.  
 */
.selfPortrait {
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow:0 20px 16px 0 rgba(23,94,84,0.4);
}

.aboutMe {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 50px;
    justify-content: center;
}