.contact {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
}

.bodyContainer {
    padding: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.heading {
    padding-bottom: 10px;
    border-bottom: 1px solid #CF3F52;
    width: 100%;
}