.footer {
    padding: 12px 14px;
    background-color: #020707;
}

.footerTop {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
}

.footer a {
    color: #F7F7EA;
    text-decoration: none;
    font-weight: lighter;
}

.pages {
    display: flex;
    gap: 20px;
}

.pages a:hover {
    color: #CF3F52;
    transition: 0.1s;
}

.caption {
    margin-top: 12px;
    padding-top: 14px; 
    font-size: 0.85rem;
    opacity: 0.6;
    text-align: center;
}

