/**
 * I Marita Aziga, 000368577 certify that this material is my original work. 
 * No other person's work has been used without due acknowledgement. 
 * I have not made my work available to anyone else.  
 */
.footer {
    padding: 12px 14px;
    background-color: #020707;
}

.footerTop {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
}

.footer a {
    color: #F7F7EA;
    text-decoration: none;
    font-weight: lighter;
}

.pages {
    display: flex;
    gap: 20px;
}

.pages a:hover {
    color: #CF3F52;
    transition: 0.1s;
}

.caption {
    padding-top: 8px; 
    font-size: 0.85rem;
    opacity: 0.3;
    text-align: center;
}

