form {
    padding-bottom: 10px;
}

input, textarea {
    width: 100%;
    background-color: #03060a;
    border: none;
    border-bottom: 1px solid #F7F7EA;
    padding: 10px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #F7F7EA;
    transition: 0.3s;
}

input:hover, textarea:hover {
    border-bottom: 1px solid #CF3F52;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid #CF3F52;
}
button {
    color: #F7F7EA;
    background-color:  transparent;
    padding: 12px 14px;
    border: 1px solid #F7F7EA;
    border-radius: 12px;
    margin-top: 20px;
}

button:hover {
    background-color: #CF3F52;
    border: 1px solid #CF3F52;
    border-radius: 12px;
}