/**
 * I Marita Aziga, 000368577 certify that this material is my original work. 
 * No other person's work has been used without due acknowledgement. 
 * I have not made my work available to anyone else.  
 */
form {
    padding-bottom: 10px;
}

input, textarea {
    width: 100%;
    background-color:#020707;
    border: none;
    border-bottom: 1px solid #F7F7EA;
    padding: 12px 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #F7F7EA;
    transition: 0.2s;
}

input:hover, textarea:hover {
    border-bottom: 1px solid #3FCFBC;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid #CF3F52;
    background-color: #051412;
}

.submitButton {
    color: #F7F7EA;
    background-color:  transparent;
    padding: 12px 14px;
    border: 2px solid #F7F7EA;
    border-radius: 12px;
    margin-top: 20px;
    transition: 0.2s;
    font-size: 20px;
    width: 158px;
    font-weight: bold;
}

.submitButton:hover {
    background-color: #3FCFBC;
    border: 2px solid #3FCFBC;
    box-shadow:0 8px 16px 0 rgba(23,94,84,0.6);
    border-radius: 12px;
    transform: translateY(-4px);
}

.submitButton:active {
    background-color: #CF3F52;
    border: 2px solid #CF3F52;
    border-radius: 12px;
    box-shadow:0 8px 16px 0 rgba(94,23,33,0.4);
    transform: translateY(4px);
}