/*
    Colors

    #CF3F52
    #3FCFBC
    #072A57
    #F7F7EA
    #CFBC3F
    #3F52CF
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    background-color: #03060a;
}

.navbar a {
    color: #F7F7EA;
    text-decoration: none;
    font-weight: lighter;
}

.links {
    display: flex;
    gap: 30px;
}

.navbar a:hover {
    color: #CF3F52;
}

.active {
    background-color: #CF3F52;
    padding: 10px;
    border-radius: 8px;
}




