.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    background-color: #020707;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: #F7F7EA;
    text-decoration: none;
    font-weight: lighter;
    margin-bottom: 20px;
    transition: 0.1s;
}

.links {
    display: flex;
    gap: 30px;
}

.navbar a:hover {
    color: #3FCFBC;
    border-bottom: 2px solid #3FCFBC;
    margin-bottom: 20px;
    cursor: pointer;
}

.active {
    color: #CF3F52;
    border-bottom: 2px solid #CF3F52;
    margin-bottom: 20px;
}




