.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFAFC;
    padding: 14px 16px;
}

.navbar a {
    color: #0C46A2;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 30px;
}

.navbar a:hover {
    color: #42E8F9;
}




