/*
    Colors

    #CF3F52
    #3FCFBC
    #072A57
    #F7F7EA
    #CFBC3F
    #3F52CF
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    background-color: #03060a;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: #F7F7EA;
    text-decoration: none;
    font-weight: lighter;
}

.links {
    display: flex;
    gap: 30px;
}

.navbar a:hover {
    color: #CF3F52;
    padding: 2px;
    border-bottom: 1px solid #CF3F52;
    border-radius: 2px;

}

.active {
    color: #CF3F52;
    padding: 2px;
    border-bottom: 1px solid #CF3F52;
    border-radius: 2px;
}




