.resume {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
}

.bodyContainer {
    padding: 20px;
}

.heading {
    padding: 2px;
    border-bottom: 1px solid #CF3F52;
    font-weight: lighter;
    width: 65%;
}