.skillsContainer {
    display: flex;
    flex-direction: row;
    gap: 300px;
    padding-top: 20px;
}

.skillHeading {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}