/**
 * I Marita Aziga, 000368577 certify that this material is my original work. 
 * No other person's work has been used without due acknowledgement. 
 * I have not made my work available to anyone else.  
 */
.skillsContainer {
    display: flex;
    flex-direction: row;
    gap: 300px;
    padding-top: 20px;
}

.skillHeading {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}