.jumbotron {
    height: 200%;
    margin: 0 auto;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.title {
    font-size: 88px;
    background: linear-gradient(
        to right,
        #F7F7EA,
        #CF3F52,
        #3FCFBC,
        #F7F7EA
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.jumboTitle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.2;
}

.jumboTitle h1, .jumboTitle h2, .jumboTitle h3 {
    margin: 0;
}

.statement {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.1;
    padding-top: 30px;
}

.statement p {
    margin: 0;
}

.clickMe {
    color: #F7F7EA;
    background-color:  transparent;
    padding: 12px 14px;
    border: 2px solid #F7F7EA;
    border-radius: 12px;
    margin-top: 78px;
    transition: 0.2s;
    font-size: 14px;
    font-weight: bold;
}

.clickMe:hover {
    background-color: #3FCFBC;
    border: 2px solid #3FCFBC;
    box-shadow:0 8px 16px 0 rgba(23,94,84,0.6);
    border-radius: 12px;
    transform: translateY(-4px);
}

.clickMe:active {
    background-color: #CF3F52;
    border: 2px solid #CF3F52;
    border-radius: 12px;
    box-shadow:0 8px 16px 0 rgba(94,23,33,0.4);
    transform: translateY(4px);
}